*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}
 
 html, body{
    height:100%;
    width: 100%;
 }
 #main{
    height:100%;
    width:100%;
 }
 /* body{
    padding: 20px;
 }  
 #tabs{
    display: flex;
    gap: 20px;
 }
 .tab{
    padding: 12px 22px;
    background-color: #e9e9e9; 
    border: 2px solid #dadada;
    border-radius: 4px;
    font-weight: 700;
 }
 h3{
    margin-top: 20px;
    width: 50%;
    display: none;
 } */


 /* question no 7 */

/* #center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

 #downloadcapsule{

    width: 200px;
    height: 10px;
    background-color: #dadada;
    border-radius: 100px;
 }
 
 #progress{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 10%;
    height: 100%;
    border-radius: 100px;
    background-color: green;
 }

#center h3{
    opacity: 0;

 } */

 
/* #main { 
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
}

.container{
   padding: 10vw 25vw;
}

input{
    width: 100%;
    padding: 12px 22px; 
    font-size: 500;
    border-radius: 10px;
    border: 1px solid #dadada;
    outline-color: royalblue;
}

.people{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

}

.person{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; 

}

.img{
    border-radius: 50%;
    border: 2px solid #dadada;
    width: 7vw; 
    height: 7vw;
    background-color: red; 
    overflow: hidden; 
} 
   
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

} */



/* question no 9 */
body{
    padding: 30px;
}

textarea{
    width: 400px;
    height: 130px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #dadada;
    outline-color: royalblue;
    resize: none;
    padding: 10px;
}

