*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}
 
 html, body{
    height:100%;
    width: 100%;
 }
 /* #main{
    height:100%;
    width:100%;
 } */

 /* #page1{
     height: 100%;
     width: 100%;
     background-color: salmon;
     display: flex;
     align-items: center;
     justify-content: center;
 }

  #page2{
     height: 100%;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: rgb(15, 176, 234);
 }

  #page3{
     height: 100%;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: rgb(94, 16, 7);
 } 

 #circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: linear-gradient(lightgreen,royalblue)
 } */


 body{ 
   overflow-x: hidden;
 }
 #page1{
   height: 100%;
   width: 100%;
   background-color: antiquewhite;
 }

  #page2{
   height: 100%;
   width: 100%;
   background-color: rgb(227, 188, 138);
 }

 #page2 img{
   height: 100%;
   width: 20%;
   background-color: rgb(28, 146, 220);
 }

 #page2 h1{
   font-size: 37vw;
   font-weight: 600;

 }
  #page3{
   height: 100%;
   width: 100%;
   background-color: rgb(11, 7, 1),
 }

